<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="fragments/navbar :: imports"></div>
<div th:replace="fragments/navbar :: background"></div>
<div th:replace="fragments/navbar :: navbar"></div>

<head>

</head>
<body>
<br>
<br>
<br>
<br>
<div class="card bg-light mb-3 mx-auto text-left" style="width: 60rem;">
    <div class="card-header" th:align="center"><h4>Search Results</h4></div>
        <div class="card-body">
            <form th:align="right" th:object="${cryptocoins}" th:action="@{/coins/search}" method="get">
                <input type="text" name="cryptocoins" id="cryptocoins" placeholder="Coin Name or Symbol"/>
                <input type="submit" value="Search"class="btn btn-dark"/>
                <br>
                <br>
            </form>
            <div class="container">
                <table id="table-row" class="table table-bordered table-sm table-condensed table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Coin Name</th>
                            <th scope="col">Symbol</th>
                            <th scope="col">Price USD</th>
                            <th scope="col">Price Bitcoin</th>
                        </tr>
                    </thead>
                    <tr th:each="tempCryptocoin : ${cryptocoins}" >
                        <td><a th:href="@{/coins/list/details(coinRank=${tempCryptocoin.rank})}" th:text="${tempCryptocoin.rank}"     class="btn btn-light" ></a></td>
                        <td><a th:href="@{/coins/list/details(coinRank=${tempCryptocoin.rank})}" th:text="${tempCryptocoin.name}"     class="btn btn-light" ></a></td>
                        <td><a th:href="@{/coins/list/details(coinRank=${tempCryptocoin.rank})}" th:text="${tempCryptocoin.symbol}"   class="btn btn-light" ></a></td>
                        <td><a th:href="@{/coins/list/details(coinRank=${tempCryptocoin.rank})}" th:text="${tempCryptocoin.priceUsd}" class="btn btn-light" ></a></td>
                        <td><a th:href="@{/coins/list/details(coinRank=${tempCryptocoin.rank})}" th:text="${tempCryptocoin.priceBtc}" class="btn btn-light" ></a></td>
                    </tr>
                </table>
            </div>
        </div>
</div>
</body>
</html>