<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="fragments/navbar :: imports"></div>
<div th:replace="fragments/navbar :: background"></div>
<div th:replace="fragments/navbar :: navbar"></div>
<meta http-equiv="refresh" content="60" >
<head>
    <title>Coins List - KouLGaR</title>
</head>
<body>
<br>
<br>
<br>
<br>
<div class="card bg-light mb-3 mx-auto text-left" style="width: 60rem;">
    <div class="card-header" th:align="center"><h4>Top 100 - Cryptocoin List</h4></div>
    <div class="card-body">
<div class="container">
    <form id="search-bar" th:align="right" th:object="${search}" th:action="@{/coins/search}" method="get">
            <input type="text" name="search" id="search" placeholder="Coin Name or Symbol"/>
            <button type="submit" value="Search"class="btn btn-dark">Search</button>
            <br>
            <br>
        </form>
            <div class="container">
            <table id="table-row" class="table table-bordered table-sm table-condensed table-hover">
                <thead class="thead-dark">
                <tr th:align="center">
                    <th align="center">Rank</th>
                    <th align="center">Coin Name</th>
                    <th align="center">Symbol</th>
                    <th align="center">Price USD</th>
                    <th align="center">Price Bitcoin</th>
                    <div sec:authorize="isAuthenticated()">
                    <th th:align="center" th:if="${#strings.contains(#httpServletRequest.requestURI, 'list')} and ${!#strings.contains(#httpServletRequest.requestURI, 'search')}">Action</th>
                    <th th:align="center" th:if="${#strings.contains(#httpServletRequest.requestURI, 'search')}">Action</th>
                    </div>
                </tr>
                </thead>
                <tbody>
                <tr class="clickable-row" onload="cursor()" th:data-href="@{/coins/list/details(coinRank=${tempCryptocoin.rank})}" th:each="tempCryptocoin : ${cryptocoins}">
                    <td th:align="center"><a th:text="${tempCryptocoin.rank}"     ></a></td>
                    <td th:align="left"  ><a th:text="${tempCryptocoin.name}"       ></a></td>
                    <td th:align="center"><a th:text="${tempCryptocoin.symbol}"   ></a></td>
                    <td th:align="center"><a th:text="${tempCryptocoin.priceUsd}" ></a></td>
                    <td th:align="center"><a th:text="${tempCryptocoin.priceBtc}" ></a></td>
                    <div sec:authorize="isAuthenticated()">
                    <td th:align="center" th:if="${#strings.contains(#httpServletRequest.requestURI, 'list')} and ${!#strings.contains(#httpServletRequest.requestURI, 'search')}">
                    <a th:if="${followList.contains(tempCryptocoin)}" th:href="@{/user/addFavorite(coinRank=${tempCryptocoin.rank})}"><i class="fas fa-heart fa-2x"></i></a>
                    <a th:if="${!(followList.contains(tempCryptocoin))}" th:href="@{/user/addFavorite(coinRank=${tempCryptocoin.rank})}" ><i class="far fa-heart fa-2x"></i></a></td>
                    <td th:align="center" th:if="${#strings.contains(#httpServletRequest.requestURI, 'search')}">
                        <a th:if="${followList.contains(tempCryptocoin)}" th:href="@{/user/addFavorite(coinRank=${tempCryptocoin.rank})}"><i class="fas fa-heart fa-2x"></i></a>
                        <a th:if="${!(followList.contains(tempCryptocoin))}" th:href="@{/user/addFavorite(coinRank=${tempCryptocoin.rank})}"><i class="far fa-heart fa-2x"></i></a></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
</div>
    <!-- cryptocoins pagination -->
    <div th:if="${#strings.contains(#httpServletRequest.requestURI, 'list')} and ${!#strings.contains(#httpServletRequest.requestURI, 'search')}">
        <nav aria-label="Pagination" th:if="${cryptocoins.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${cryptocoins.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/coins/list?page={id}(id=${cryptocoins.number lt 2 ? 1 : cryptocoins.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq cryptocoins.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, cryptocoins.totalPages, 1)}">
                    <a class="page-link" th:href="@{/coins/list?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${cryptocoins.number + 1 eq cryptocoins.totalPages} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/coins/list?page={id}(id=${cryptocoins.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div th:if="${#strings.contains(#httpServletRequest.requestURI, 'search')}">
        <nav aria-label="Pagination" th:if="${cryptocoins.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${cryptocoins.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{'/coins/search?page='+${cryptocoins.number lt 2 ? 1 : cryptocoins.number}+'&amp;search='+${search}}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq cryptocoins.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, cryptocoins.totalPages, 1)}">
                    <a class="page-link" th:href="@{'/coins/search?page='+${i}+'&amp;search='+${search}}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${cryptocoins.number + 1 eq cryptocoins.totalPages} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{'/coins/search?page='+${cryptocoins.number + 2}+'&amp;search='+${search}}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    </div>
</div>
</body>
<script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });

    function cursor($){
        $(".clickable-row").style.cursor = "pointer";
    }

</script>
</html>