<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="fragments/navbar :: imports"></div>
<div th:replace="fragments/navbar :: background"></div>
<div th:replace="fragments/navbar :: navbar"></div>
<head>
    <title>Favorite Coins List - KouLGaR</title>
    <meta http-equiv="refresh" content="60" >
</head>
<body>
<br>
<br>
<br>
<br>
<div class="card bg-light mb-3 mx-auto text-left" style="width: 60rem;">
    <div class="card-header" th:align="center"><h4>Favorite Cryptocoin List</h4></div>
    <div class="card-body">
<div class="container">
<!--    <form th:align="right" th:object="${search}" th:action="@{/coins/search}" method="get">-->
<!--            <input type="text" name="search" id="search" placeholder="Coin Name or Symbol"/>-->
<!--            <button type="submit" value="Search"class="btn btn-dark">Search</button>-->
<!--            <br>-->
<!--            <br>-->
<!--        </form>-->
            <div class="container">
            <table id="table-row" class="table table-bordered table-sm table-condensed table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Rank</th>
                    <th>Coin Name</th>
                    <th>Symbol</th>
                    <th>Price USD</th>
                    <th>Price Bitcoin</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tr th:each="tempCryptocoin : ${cryptocoins}" >
                    <td><a th:href="@{/coins/list/details(coinRank=${tempCryptocoin.rank})}" th:text="${tempCryptocoin.rank}"     class="btn btn-light" ></a></td>
                    <td><a th:href="@{/coins/list/details(coinRank=${tempCryptocoin.rank})}" th:text="${tempCryptocoin.name}"     class="btn btn-light" ></a></td>
                    <td><a th:href="@{/coins/list/details(coinRank=${tempCryptocoin.rank})}" th:text="${tempCryptocoin.symbol}"   class="btn btn-light" ></a></td>
                    <td><a th:href="@{/coins/list/details(coinRank=${tempCryptocoin.rank})}" th:text="${tempCryptocoin.priceUsd}" class="btn btn-light" ></a></td>
                    <td><a th:href="@{/coins/list/details(coinRank=${tempCryptocoin.rank})}" th:text="${tempCryptocoin.priceBtc}" class="btn btn-light" ></a></td>
                    <td>
                    <a th:if="${followList.contains(tempCryptocoin)}" th:href="@{/user/addFavFavorite(coinRank=${tempCryptocoin.rank})}" class="btn btn-info">Unfollow</a>
                    <a th:if="${!(followList.contains(tempCryptocoin))}" th:href="@{/user/addFavFavorite(coinRank=${tempCryptocoin.rank})}" class="btn btn-primary">Follow</a></td>
                </tr>
            </table>
        </div>
</div>
<!--    &lt;!&ndash; cryptocoins pagination &ndash;&gt;-->
<!--    <div th:if="${#strings.contains(#httpServletRequest.requestURI, 'list')} and ${!#strings.contains(#httpServletRequest.requestURI, 'search')}">-->
<!--        <nav aria-label="Pagination" th:if="${cryptocoins.totalPages gt 0}">-->
<!--            <ul class="pagination justify-content-center font-weight-bold">-->
<!--                <li class="page-item" th:classappend="${cryptocoins.number eq 0} ? 'disabled'">-->
<!--                    <a class="page-link"-->
<!--                       th:href="@{/coins/list?page={id}(id=${cryptocoins.number lt 2 ? 1 : cryptocoins.number})}"-->
<!--                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">-->
<!--                        <span aria-hidden="true">&laquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="page-item" th:classappend="${i eq cryptocoins.number + 1} ? 'active'"-->
<!--                    th:each="i : ${#numbers.sequence( 1, cryptocoins.totalPages, 1)}">-->
<!--                    <a class="page-link" th:href="@{/coins/list?page={id}(id=${i})}" th:text="${i}"-->
<!--                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>-->
<!--                </li>-->
<!--                <li class="page-item" th:classappend="${cryptocoins.number + 1 eq cryptocoins.totalPages} ? 'disabled'">-->
<!--                    <a class="page-link"-->
<!--                       th:href="@{/coins/list?page={id}(id=${cryptocoins.number + 2})}"-->
<!--                       aria-label="Next" title="Next Page" data-toggle="tooltip">-->
<!--                        <span aria-hidden="true">&raquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </div>-->
<!--    <div th:if="${#strings.contains(#httpServletRequest.requestURI, 'search')}">-->
<!--        <nav aria-label="Pagination" th:if="${cryptocoins.totalPages gt 0}">-->
<!--            <ul class="pagination justify-content-center font-weight-bold">-->
<!--                <li class="page-item" th:classappend="${cryptocoins.number eq 0} ? 'disabled'">-->
<!--                    <a class="page-link"-->
<!--                       th:href="@{'/coins/search?page='+${cryptocoins.number lt 2 ? 1 : cryptocoins.number}+'&amp;search='+${search}}"-->
<!--                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">-->
<!--                        <span aria-hidden="true">&laquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="page-item" th:classappend="${i eq cryptocoins.number + 1} ? 'active'"-->
<!--                    th:each="i : ${#numbers.sequence( 1, cryptocoins.totalPages, 1)}">-->
<!--                    <a class="page-link" th:href="@{'/coins/search?page='+${i}+'&amp;search='+${search}}" th:text="${i}"-->
<!--                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>-->
<!--                </li>-->
<!--                <li class="page-item" th:classappend="${cryptocoins.number + 1 eq cryptocoins.totalPages} ? 'disabled'">-->
<!--                    <a class="page-link"-->
<!--                       th:href="@{'/coins/search?page='+${cryptocoins.number + 2}+'&amp;search='+${search}}"-->
<!--                       aria-label="Next" title="Next Page" data-toggle="tooltip">-->
<!--                        <span aria-hidden="true">&raquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </div>-->

    </div>
</div>
</body>
</html>