<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="fragments/navbar :: imports"></div>
<div th:replace="fragments/navbar :: background"></div>
<div th:replace="fragments/navbar :: navbar"></div>
<head>
    <title>Favorite Coins List - KouLGaR</title>
    <meta http-equiv="refresh" content="60" >
</head>
<body>
<br>
<br>
<br>
<br>
<div class="card bg-light mb-3 mx-auto text-left" style="width: 60rem;">
    <div class="card-header" th:align="center"><h4>Favorite Cryptocoin List</h4></div>
    <div class="card-body">
<div class="container">
    <form id="search-bar" th:align="right" method="get">
            <input type="text" name="search" id="search" placeholder="Search coins.."/>
            <br>
            <br>
        </form>
            <div class="container">
            <table id="table-row" class="table table-bordered table-sm table-condensed table-hover">
                <thead class="thead-dark">
                <tr th:align="center">
                    <th>Rank</th>
                    <th>Coin Name</th>
                    <th>Symbol</th>
                    <th>Price USD</th>
                    <th>Price Bitcoin</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:class="clickable-row" onload="cursor()" th:data-href="@{/coins/list/details(coinRank=${tempCryptocoin.rank})}" th:each="tempCryptocoin : ${cryptocoins}" >
                    <td th:align="center"><a th:text="${tempCryptocoin.rank}"     ></a></td>
                    <td th:align="left"  ><a th:text="${tempCryptocoin.name}"     ></a></td>
                    <td th:align="center"><a th:text="${tempCryptocoin.symbol}"   ></a></td>
                    <td th:align="center"><a th:text="${tempCryptocoin.priceUsd}" ></a></td>
                    <td th:align="center"><a th:text="${tempCryptocoin.priceBtc}" ></a></td>
                    <td th:align="center">
                    <a th:if="${followList.contains(tempCryptocoin)}" th:href="@{/user/addFavorite(coinRank=${tempCryptocoin.rank})}"><i class="fas fa-heart fa-2x"></i></a>
                    <a th:if="${!(followList.contains(tempCryptocoin))}" th:href="@{/user/addFavorite(coinRank=${tempCryptocoin.rank})}"><i class="far fa-heartfa-2x"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
</div>

    </div>
</div>
</body>
<script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });

    function cursor($){
        $(".clickable-row").style.cursor = "pointer";
    }

    var table = document.querySelector('tbody');

    var searchInput = document.querySelector('#search-bar input');

    searchInput.addEventListener('keyup', function(e) {

        var searchChar = e.target.value.toUpperCase();

        var rows = table.getElementsByTagName('tr');

        Array.from(rows).forEach(function(row) {
            var parText = row.textContent;

            if(parText.toUpperCase().indexOf(searchChar) !== -1) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>
</html>