<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="fragments/navbar :: imports"></div>
<div th:replace="fragments/navbar :: background"></div>
<div th:replace="fragments/navbar :: navbar"></div>

<head>
    <title>Welcome</title>
</head>
<body>
<br>
<br>
<br>
<br>
<div class="card bg-light mb-3 mx-auto text-left" style="width: 60rem;">
    <div class="card-header"><h4>Welcome to Index Page</h4></div>
    <div class="card-body">
   <a th:href="@{/coins/list}">Click Here</a> to see Cryptocoin Page.
    </div>
</div>
</body>
</html>