<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="fragments/navbar :: imports"></div>
<div th:replace="fragments/navbar :: background"></div>
<div th:replace="fragments/navbar :: navbar"></div>

<head>
    <title>Welcome</title>
</head>
<body>
<br>
<br>
<br>
<br>
<div class="card bg-light mb-3 mx-auto text-left" style="width: 60rem;">
    <div class="card-header"><h4>Thank you for visiting!</h4></div>
    <div class="card-body">

        Hey,<br>
        this is a demo project to improve my Java, Spring Framework skills.<br><br>
        You can check out source codes of this web app from <a th:href="@{https://github.com/koulgar}">github.com/koulgar,</a><br>
        and my Linkedin profile from <a th:href="@{https://www.linkedin.com/in/doğucan-durmuşlar-a7a8b215a/}">here</a>.<br>
        <br>
    </div>
</div>
</body>
</html>