<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="fragments/navbar :: imports"></div>
<div th:replace="fragments/navbar :: background"></div>
<div th:replace="fragments/navbar :: navbar"></div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<head>
    <title>Registration</title>
</head>
<body>
<br>
<br>
<br>
<br>
<div class="card bg-light mb-3 mx-auto text-left" style="width: 32rem;" ) th:if="${#strings.contains(#httpServletRequest.requestURI, '/user/update')}">
    <div class="card-header"><h4>Update User</h4></div>
    <div class="card-body">
        <div class="container" >
            <div class="row">
                <div class="col-md-12 col-md-offset-3">

                    <form th:action="@{/user/update}" th:object="${formUser}" method="post">

                        <div th:if="${param.success}">
                            <div class="alert alert-info">You've successfully updated your profile!</div>
                        </div>

                        <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                           th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error</p>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('id')}? 'has-error':''">
                           <input th:type="hidden" id="id" class="form-control" th:field="*{id}" />
                            <p class="alert alert-danger" th:each="error: ${#fields.errors('id')}" th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                            <label for="firstName" class="control-label">First name</label> <input
                                id="firstName" class="form-control" th:field="*{firstName}" />
                            <p class="alert alert-danger" th:each="error: ${#fields.errors('firstName')}" th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                            <label for="lastName" class="control-label">Last name</label> <input
                                id="lastName" class="form-control" th:field="*{lastName}" />
                            <p class="alert alert-danger"
                               th:each="error : ${#fields.errors('lastName')}"
                               th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                            <label for="email" class="control-label">E-mail</label> <input
                                id="email" class="form-control" th:field="*{email}"/>
                            <p class="alert alert-danger"
                               th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
                            <label for="username" class="control-label">Username</label> <input
                                id="username" class="form-control" th:field="*{username}" />
                            <p class="alert alert-danger"
                               th:each="error : ${#fields.errors('username')}"
                               th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                            <label for="password" class="control-label">Password</label> <input
                                id="password" class="form-control" type="password"
                                th:field="*{password}" />
                            <p class="alert alert-danger"
                               th:each="error : ${#fields.errors('password')}"
                               th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('matchingPassword')}? 'has-error':''">
                            <label for="matchingPassword" class="control-label">Confirm
                                password</label> <input id="matchingPassword" class="form-control"
                                                        type="password" th:field="*{matchingPassword}" />
                            <p class="alert alert-danger"
                               th:each="error : ${#fields.errors('matchingPassword')}"
                               th:text="${error}">Validation error</p>
                        </div>
                            <input type="submit" name="login-submit" id="login-submit" class="btn btn-primary" value="Save" />
                            <a th:href="@{/user/profile}"
                               class="btn btn-danger"
                               onclick="if (!(confirm('Are you sure you want to cancel editing this user?'))) return false">
                                Cancel
                            </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card bg-light mb-3 mx-auto text-left" style="width: 32rem;" ) th:if="${#strings.contains(#httpServletRequest.requestURI, '/user/delete')}">
    <div class="card-header"><h4>Delete User</h4></div>
    <div class="card-body">
        <div class="container" >
            <div class="row">
                <div class="col-md-12 col-md-offset-3">

                    <form th:action="@{/user/delete}" th:object="${formUser}" method="post">

                        <div th:if="${param.success}">
                            <div class="alert alert-info">You've successfully updated your profile!</div>
                        </div>

                            <input th:type="hidden" id="id" class="form-control" th:field="*{id}" />
                            <input th:type="hidden" id="firstName" class="form-control" th:field="*{firstName}" />
                            <input th:type="hidden" id="lastName" class="form-control" th:field="*{lastName}" />
                            <input th:type="hidden" id="email" class="form-control" th:field="*{email}"/>
                            <input th:type="hidden" id="username" class="form-control" th:field="*{username}" />
                        <div class="form-group" >
                            <label for="password" class="control-label">Password</label>
                            <input id="password" class="form-control" type="password" th:field="*{password}"/>
                            <p class="alert alert-danger" th:each="error : ${#fields.errors('password')}"
                               th:text="${error}"></p>
                        </div>
                            <input th:type="hidden" id="matchingPassword" class="form-control"
                                                        type="password" th:field="*{matchingPassword}" />
                        <input type="submit" name="delete-submit" id="delete-submit" class="btn btn-danger" value="Delete" />
                        <a th:href="@{/user/profile}"
                           class="btn btn-danger"
                           onclick="if (!(confirm('Are you sure you want to cancel editing this user?'))) return false">
                            Cancel
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


</body>
</html>